@page "/about"
<h3>Sobre Nostros</h3>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Asociación de Juegos de Mesa "Dados & Meeples"</h5>
        <p class="card-text">Somos una organización con sede en Utrera que se dedica a proporcionar a los jóvenes de la localidad la oportunidad de disfrutar de una amplia variedad de juegos de mesa.</p>
        <p class="card-text">Nuestro objetivo es fomentar la diversión, la interacción social y el desarrollo de habilidades a través de los juegos de mesa. Creemos en el poder de los juegos para reunir a las personas, estimular la creatividad y promover el pensamiento estratégico.</p>
        <p class="card-text">En "Dados & Meeples", ofrecemos una amplia colección de juegos de mesa para que los jóvenes puedan explorar y disfrutar. Organizamos eventos y sesiones de juego regularmente, donde los miembros pueden reunirse, aprender nuevos juegos y participar en emocionantes partidas.</p>
        <p class="card-text">¡Únete a nosotros y descubre el mundo de los juegos de mesa en un ambiente divertido y acogedor!</p>
    </div>
</div>

@code {

}
