<AuthorizeView>
    <Authorized>
        <div class="nav-item d-flex justify-content-between">
            <a href="Identity/Account/Manage" class="nav-link">Perfil</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-link">Log out</button>
            </form>
            <NavLink class="nav-link" href="about">
                <span aria-hidden="true"></span> About
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item d-flex justify-content-between">
            <div>
                <a href="Identity/Account/Register" class="nav-link">Register</a>
            </div>
            <div>
                <a href="Identity/Account/Login" class="nav-link">Log in</a>
            </div>
            <div>
                <NavLink class="nav-link" href="about">
                    <span aria-hidden="true"></span> About
                </NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
